.navbar-brand {
	font-size: 1.67rem;
	font-weight: 600 !important;
	padding: 0;
}
.jumbotron {
	background: #fff;
	border-radius: 1rem;
}
.bg-default { 
	background: #E9ECEF; 
}
.text-default {
	color: #808080;
}